@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml"; 
}

@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet"  href="@Url.Content("~/Content/css/login.css")">
</head>
<body>

    <form method="post" action="Account/Login">
        <h1>Login</h1>
        <div>
            <input type="text" placeholder="Username" required id="username" name="username" />
        </div>
        <div>
            <input type="password" placeholder="Password" required id="password" name="password"/>
        </div>
        <div>
            <input type="submit" value="Log in" />
            <a href="#">Lost your password?</a>
            <a href="#">Register</a>
        </div>
    </form>
    <!-- form -->
</body>
</html>*@
